@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;1,100;1,200;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    font-weight: 300;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}
::before,
::after{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    padding: 2vw;
}
img{
    vertical-align: middle;
    max-width: 100%;
}
.container{
    max-width: 1170px;
    margin: auto;
    background-color: #f98b88 ;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.justify-content-between{
    justify-content: space-between;
}
.align-items-center{
    align-items: center;
}
.header{
    background-color: #f98b88 ;
    padding: 10px 0;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 99;
    border-bottom: 1px solid var(--dark-700);
}
.header .logo{
    padding: 0 15px;
    transform: translateX(-400px);
}
.header .logo a{
    font-size: 34px;
    color: var(--white-900);
    text-transform: capitalize;
    font-weight: 300;
    font-style: italic;
    font-family: 'Dancing Script', cursive;    
}
.header .nav{
    padding: 0 15px;
}
.header .nav ul li{
    display: inline-block;
    margin-left: 40px;
}
.header .nav ul li a{
    display: inline;
    font-weight: 300;
    font-size: 24px;
    display: block;
    padding: 10px 10px;
    text-transform: capitalize;
    transition: all 0.5s ease;
    cursor: pointer;
    font-weight: bold;
    color: black;
}

.nav ul li a {
    position: relative;
    overflow: hidden;
    z-index: 1;
  }
  .nav ul li a:after {
    display: block;
    position: absolute;
    margin: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    content: '.';
    color: transparent;
    width: 1px;
    height: 1px;
    border-radius: 50%;
    background: transparent;
  }
  .nav ul li a:hover:after {
    -webkit-animation: circle 1.5s ease-in forwards;
    border-style: solid;
    border-color: black;
  }
  

  @-webkit-keyframes circle {
    0% {
      width: 1px;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      height: 1px;
      z-index: -1;
      background: #eee;
      border-radius: 100%;
    }
    100% {
      background: rgb(202, 247, 233);
      height: 5000%;
      width: 5000%;
      z-index: -1;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      border-radius: 0;
    }
  }
  .header #nav-check{
      position: absolute;
      pointer-events: none;
      opacity: 0;
  }
.header #nav-check:focus ~ .nav-toggler{
    box-shadow: ;
}

.header .nav-toggler{
    height: 34px;
    width: 44px;
    border: 1px solid white;
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

.header .nav-toggler span{
    display: block;
    width: 20px;
    height: 2px;
    background-color: white;
    position: relative;
}

.header #nav-check:checked ~ .nav-toggler span{
    background-color: transparent;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: white;
}

.header .nav-toggler span::before{
    transform: translateY(-6px);
}

.header #nav-check:checked ~ .nav-toggler span::before{
    transform: rotate(45deg);
}

.header .nav-toggler span::after{
    transform: translateY(6px);
}

.header #nav-check:checked ~ .nav-toggler span::after{
    transform: rotate(-45deg);
}



.section{
    background: black;
    width: 100%;
    height: 1000px;
    align-items: center;
  }
  
  .Iam {
    padding: 2em 5em;
    font: normal 40px/50px Montserrat, sans-serif;
    color: #999;
    margin-top: 80px;
  }
  .Iam p {
    height: 50px;
   margin: auto;
  }
  .Iam b {
    float: left;
    overflow: hidden;
    position: relative;
    height: 50px;
    top: 40px;
  }
  .Iam .innerIam {
    display: inline-block;
    color: #9b4980;
    position: relative;
    white-space: nowrap;
    top: 0;
    left: 0;
  
  
  /*animation*/
  -webkit-animation:move 5s;
     -moz-animation:move 5s;
      -ms-animation:move 5s;
       -o-animation:move 5s;
          animation:move 5s;
  /*animation-iteration-count*/
  -webkit-animation-iteration-count:infinite;
     -moz-animation-iteration-count:infinite;
      -ms-animation-iteration-count:infinite;
       -o-animation-iteration-count:infinite;
          animation-iteration-count:infinite;
  /*animation-delay*/
  -webkit-animation-delay:1s;
     -moz-animation-delay:1s;
      -ms-animation-delay:1s;
       -o-animation-delay:1s;
          animation-delay:1s;
  }
  @keyframes move{
  0%  { top: 0px; }
  20% { top: -50px; }
  40% { top: -100px; }
  60% { top: -150px; }
  80% { top: -200px; }
  }
  
  @-webkit-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-moz-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @-o-keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }
  @keyframes move {
      0%  { top: 0px; }
      20% { top: -50px; }
      40% { top: -100px; }
      60% { top: -150px; }
      80% { top: -200px; }
  }


  .home-img{
      float: right;
      margin-right: 175px;
  }

  /* social icons */

  .pop [class*="fa fa-"] {
    
    background-color: #333;
    border-radius: 70px;
    color: #fff;
    display: inline-block;
    height: 70px;
    line-height: 70px;
    margin: auto 3px;
    width: 70px;
    font-size: 36px;
    text-align: center;
    position: relative;
    top: 200px;
    left: 175px;

}

.pop [class*="fa fa-github"]:hover {
    background-color: #f98b88;
   border-radius: 70px;
    font-size: 36px;
}
.pop [class*="fa fa-instagram"]:hover {
     background-color: #f98b88;
     border-radius: 70px;
    font-size: 36px;
}
.pop [class*="fa fa-linkedin"]:hover {
    background-color: #f98b88;
     border-radius: 70px;
    font-size: 36px;
}
.pop [class*="fa fa-code"]:hover {
    background-color: #f98b88;
     border-radius: 70px;
    font-size: 36px;
}

/*about-section*/
.about-section{
    height:900px;
    width: 100%;
    background-color: #f0b0ae;
    background-image: url(/image/background1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.inner-section{
    height: 700px;
    width: 850px;
    float: right;
    position: relative;
    background-color: #d18cba;
    margin-top: 120px;
    margin-right: 30px;
    text-align: center;
    border: none;
}

.about h2{
    font-family: 'Dancing Script', cursive;
    font-size: 50px;
}


.inner-section:before{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    left: 0;
    bottom: 0;
    border: 3px solid transparant;
    box-sizing: border-box;
  }
  .inner-section:hover:before{
    width: calc(850px / 2);
    height: 700px;
    border: 3px solid #111;
    border-right: none;
    border-bottom: none;
    transition: height 0.3s linear, 
                width 0.3s linear 0.3s;
  }
  .inner-section:after{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    top: 0;
    right: 0;
    border: 3px solid transparant;
    box-sizing: border-box;
  }
  .inner-section:hover:after{
    width: calc(850px / 2);
    height: 700px;
    border: 3px solid #111;
    border-left: none;
    border-top: none;
    transition: height 0.3s linear, 
                width 0.3s linear 0.3s;
  }

.keep-scrolling{
    position: relative;
    left: 150px;
    top: 300px;
    font-size: 98px;
    font-family: 'Pacifico', cursive;
    font-weight: 100;
}

.arrow-container {
    width: 25px;
    /* cubic-bezier-easing = sine / mehr Beispiele: https://easings.net/ */
    animation: bounce 1600ms infinite cubic-bezier(0.445, 0.05, 0.55, 0.95);
    cursor: pointer;
    height: 20px;
  }
  
  .arrow-down {
    height: 6px;
    background: black;
    transform: rotate(45deg);
    transform-origin: 0% 0%;
    border-radius: 5px;
    position: relative;
    left: 460px;
    top: 500px;
  }
  .arrow-down:after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 0;
    left: 100%;
    border-radius: 5px;
    background: black;
    transform: rotate(-90deg);
    transform-origin: 0% 100%;
  }
  
  @keyframes bounce {
  50% {
      transform: translateY(-15px);
    }
  }
  